@CHARSET "UTF-8";
@import "gs25site.css";

#event_main{
	margin: 0 auto; width: 1500px;
}
#event_sub{
	margin-left:290px;
}
#brand_main{
	width:960px;
	margin:50px 0 50px 0;
}
#event_type1{
	width:960px;
	
	border-top:1px solid #b2b2b2;
	border-bottom:1px solid #b2b2b2;
}
#event_sect{
	padding: 30px 0 20px 0;
	border-bottom:1px solid #b2b2b2;
}
#title{
	   margin-bottom: 30px;
	   padding-left: 25px;
	   font-size: 20px;
	   display: block;
}
#info{
	padding: 20px 0 0 25px;
	border-top: 1px solid #dfdfdf;
}
#event_content{
	padding:30px 0 40px;
}
#btnwrap{
	width:960px;
	margin-top:30px;
	margin-bottom:30px;
	text-align:right;
}

#event_board{
	margin:50px 0 40px 0;
	width:1040px; 
}
#slideShowButton{
	width:30px;
	height:30px;
	margin-top:15px;
}

#search_form { width:800px; margin:50px auto 20px auto; text-align:center; 	 
}
h4{

	margin-bottom:30px;
}

.tbl-ex		{
	width:95%;
	border-collapse:collapse;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
	margin-bottom:40px;
}

.tbl-ex th, 
.tbl-ex td	{ 
	text-align: center;
	padding:10px; 
}
	
.tbl-ex th	{ 
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0; 
	font-size:1.1em; 
	background-color:#00A5FF;
	color:#FFFFFF
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}
input[type="text"]	{ 
	padding:5px; 
	border:1px solid #aaa; 
	width: 350px;
	margin-left:20px;
}
input[type="file"]{
	padding:5px; 
	width: 350px;
	margin-left:20px;
	text-align:left;
}
.search{
	padding: 5px;
    border: 1px solid #ffffff;
    background-color: #0080ff;
    font-weight: bold;
    color: #FFFFFF;
	font: 1.0em ;
}
#mainForm .bottom a, .board-form .bottom input[type="submit"], .register {
    float: right;
    padding: 10px 20px 10px 20px;
    margin-right:10px;
    border: 1px solid #555;
    font-weight: bold;
    background-color: #E8ECF6;
    color: #111;
    cursor: pointer;
}
input#kwd	{
	width:250px;
}
.board-form {
	margin-top:50px
}
a#new-book	 { 
	float:right; 
	padding:10px 20px 10px 20px ; 
	border:1px solid #555; 
	border-radius:5px;
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111 
}
div.bottom {
	width:980px; height:50px; margin-top:20px;
	text-align:right;
}

#event_search{
	margin-left:330px;
	height:200px;
}
#event_search_risk{
	float:left;
	margin-top:80px;
}
#event_search p.event_search_list-right	{
	 margin-top:85px;
	margin-left:30px;
	float:left;
	font-weight:bold;
	font-size:1.5em;
	 }

.board-form .bottom a {
    margin-left: 10px;
    padding: 10px 20px 14px 20px;
}
.board-form .tbl-ex td.label {
	text-align:center;
	font-weight:bold;
	width:90px; 
}

#board{
	width:1040px;
}

.board-form select {
	padding:5px;
}
/*Button bootstrap*/
#btn{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px;
	background: #397ca8;
    color: #fff;
    padding: 15px 40px 10px;
    font-size: 16px;
    text-alin
}

a.del	{
	display:block;
	width:20px;
	height:20px; 
	background:url("/gs25/assets/images/eventboard/delete.png") no-repeat 0 0;
	font-size:0;
}


div.pager {
    width: 100%;
    text-align: center;
}
div.pager ul li.selected {
    text-decoration: underline;
    color: #f00;
}
div.pager ul li {
    display: inline;
    margin: 5px 0;
    width: 20px;
    font-weight: bold;
}

div.pager  ul li 			{ display:inline-block; margin:	10px 8px; width:20px ; font-weight:bold; }
div.pager  ul li.selected { text-decoration: underline; color:#f00 }
div.pager  ul li a,
div.pager  ul li a:visited,
div.pager  ul li a:link,
div.pager  ul li a:active { text-decoration: none; color:#ff8080 }
div.pager  ul li a:hover { text-decoration: none; color:#f00 }