html,body,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,ul,ol,li,dl,dt,dd,table,caption,tbody,tfoot,thead,tr,th,td,fieldset,form,label,legend,input,button,textarea,select{margin:0;padding:0;}

		body {position:relative; font-size:13px; color:#333; font-family:'NanumBarunGothic', NanumBarunGothic,'돋움',Dotum, Arial,sans-serif;}
		ul, ol, li {list-style:none;}
		a {color:#333; text-decoration:none;}
		h1, h2, h3, h4, h5 {font-weight:bold;}
		.header {position:relative; margin:0 auto; width:100%;border-bottom: 1px solid #dfdfdf;}
		.topwrap {width:100%; background:url("/gs25/assets/images/top_bg.gif") repeat-x;}
		.brdwrap {position:relative; margin:0 auto; width:960px; padding:0}
		.brdwrap .uty {position:relative; float:right; width:370px;top:8px; font-family:'NanumBarunGothic', NanumBarunGothic}
		.brdwrap .uty ul {float:right;}
		.brdwrap .uty li {position:relative; float:left; margin:5px 3px; background-position: 0 -289px;padding-left:6px}
		.brdwrap .uty li:first-child {padding-left:0px; background: none}
		.brdwrap .uty li a {display:inline-block; font-size:13px; color:#444; padding:2px 0px 4px}

		.gnbwrap {clear:both; position:relative; margin:auto; width:100%; font-family:'NanumBarunGothic', NanumBarunGothic;}
		.gnbw {position:relative;width:960px; margin:0 auto;}
		.gnb_bg{position:absolute;top:86px;left:0;width:100%;height:294px;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;background: #f7f7f7;z-index: 99}
		.gnbw:after,
		.gnbwrap .gnb ul:after{content: "";clear: both;display: block;height: 0;visibility: hidden;}
		.gnbwrap .logo {float:left; background:url("/gs25/assets/images/logo.gif") no-repeat; width:170px; height:46px; text-indent:-999em; margin:30px 0px 6px 10px}
		.gnbwrap .logo a{width:70%;height:100%;display:block;}
		.gnbwrap .gnb {float:left; margin:0 auto; width:780px}
		.gnbwrap .gnb > ul {width:810px;}
		.gnbwrap .gnb > ul > li {float:right; padding:0px 19px;}
		.gnbwrap .gnb li h2 > a {display:block; color: #333333; padding:34px 13px 29px 13px;font-size:23px;}
		.gnbwrap .gnb li h2 > a:hover {border-bottom:3px solid #338ec9; color:#0072bc; padding:34px 13px 26px 13px;}
		.gnbwrap .gnb>ul>li>ul>li:hover { background-color:#FFF !important;}
		.mlbwrap {clear:both; position:relative; width:100%; margin:auto; background:#f7f7f7; border-top:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8}
		.mlbwrap .mlb {margin:0 auto; width:960px}
