@CHARSET "UTF-8";
@import "gs25site.css";

.container_product {margin: 0 auto; width: 1500px;}



.container_productsub{
	margin-left:80px;
}

.container_main{
	width:960px;
	margin: 0 auto;
}


/*상품 등록*/
#wrap{
	margin-top:50px;
	margin-left:150px;
	margin-bottom:40px;
}

.board-form {
	margin-top:50px
}

.tbl-ex		{
	width:95%;
	
	border-collapse:collapse;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center; 	 
}
	
.tbl-ex th	{ 
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0; 
	font-size:1.1em; 
	background-color:#00A5FF;
	color:#FFFFFF
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

.board-form .tbl-ex td {
	text-align:center;
}

.board-form .tbl-ex td.label {
	text-align:center;
	font-weight:bold;
	width:120px; 
}

.board-form .tbl-ex input[ name='title' ] {
	width: 120px;
	margin-left:10px;
}

#file{
	margin-left:70px;
}

.board-form .tbl-ex textarea#content {
    margin-left:30px;
	width: 200px;
	height: 200px;
	padding: 10px;
	resize: none;
	outline: none;	
}

.board-form .tbl-ex input[ name='file' ] {
	margin-left:30px;
}

#board{
	margin-left:150px;
	width:1100px;
}

div.bottom {
	width:100; height:50px; margin:50px 50px;
}

.board-form .bottom a,
.board-form .bottom input[type="submit"] {
	float:right; 
	padding:10px 20px 10px 20px; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111;
	cursor: pointer	
}

.board-form .bottom a {
	margin-left: 10px;
	padding:10px 20px 11px 20px 
}

/*상품 검색 CSS*/
div.insert {
	width:100; height:50px;
	margin-left:1170px;
}

div.insert a { 
	text-decoration:none; dispaly:block;
}

a#new-book	 { 
	float:left; 
	padding:10px 20px 10px 20px ; 
	border:1px solid #555; 
	border-radius:5px;
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111 
}


#right{
	margin-left:350px;
	height:400px;
}
#risk{
	float:left;
	margin-top:150px;
}
#right p.list-right	{
	 margin-top:155px;
	margin-left:30px;
	float:left;
	font-weight:bold;
	font-size:1.5em;
	 }
	 
#product{
	margin-top:5px;
	margin-left:100px;
	width:150px;
	height:130px
}

.infowrap{
	text-align:center;
}


#store_header{
	margin-top:50px;
	margin-left:150px;
}
        
#store{margin:50px 60px;}

#txt_header{margin:20px 30px 40px 60px;
            text-align:left}
            

#search{

	width:800px;
	margin-left:350px;
	margin-top:50px;
	margin-bottom:70px;
}

#search_form {

	text-align:center;
}            

input[type="text"]	{
	padding:5px; 
	border:1px solid #aaa
}

input[type="submit"] {
	padding:5px;
	border:1px solid #ffffff; 
	background-color: #0080ff; font-weight:bold; color:#FFFFFF;
	font:1.0em "맑은 고딕", 돋움, 굴림;
}

input#kwd	{
	width:250px;
}

#list{
	margin-bottom:50px;
}

#productboard{
	margin-left:200px;
	margin-bottom:50px;
	float:left;
}

#productlist{
	float:left
}

#product_li{
float: left; 
top: 50px; 
left: 192px; 
z-index: 3; 
border: 1px solid rgb(215, 215, 215); 
height: 200px; 
width: 350px;
}

a.del	{
	display:block;
	width:40px;
	height:20px; 
	<!--background:url("/gs25/assets/images/customcenter/delete.png") no-repeat 0 0;-->
	font-size:10px;
	float:right;
	margin-top:5px;
}

#selectbox{
	width:150px;
}

/* 
137 	게시판 리스트 페이징 
138 */ 
 div.pager { 
 	width:950px; 
 	float:left;
 	text-align:center; 
 } 
 div.pager  ul { 
 	height:20px; 
 	margin:50px 0 30px 80px; 
 } 
 div.pager  ul li 			{ display:inline-block; margin:5px 8px; width:20px ; font-weight:bold; } 
 div.pager  ul li.selected { text-decoration: underline; color:#f00 } 
 div.pager  ul li a, 
 div.pager  ul li a:visited, 
 div.pager  ul li a:link, 
 div.pager  ul li a:active { text-decoration: none; color:#ff8080 } 
 div.pager  ul li a:hover { text-decoration: none; color:#f00 }
 
/* 상품 상세보기 */
#title_head {
	margin: 70px 0;
	position: relative;
}
#title1 {
    font-size: 35px;
    color: #222;
    font-weight: bold;
    letter-spacing: -1px;
}
#title1_p {
    margin-top: 25px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
.go_see a {
    display: inline-block;
    line-height: 17px;
    padding: 15px 18px 14px 54px;
    font-size: 13px;
    color: #fff;
    letter-spacing: -1px;
    background: #494c51 url("/gs25/assets/images/product/product_icon.png") 19px -115px no-repeat;
    position: absolute;
    top: 1px;
    right: 0;
}
#product_back {
    min-height: 42px;
    margin-bottom: 46px;
    background: url("/gs25/assets/images/product/lineBackground.png") 0 0 repeat-x;
}
.inner {
	padding: 30px 0;
}
.product_view {
    position: relative;
    width: 960px;
    height: 480px;
    background: #fff;
}
.product_view .product_img {
    float: left;
    width: 478px;
    height: 480px;
    text-align: center;
    margin: 0 auto;
    border-right: 1px solid #eaeaea;
}
.product_view .product_img span {
    position: relative;
    display: block;
    width: 478px;
    height: 480px;
}
.product_view .tag_list_02 {
    position: absolute;
    top: 35px;
    left: 35px;
}
.productView_content {
    float: left;
    width: 400px;
    margin-left: 40px;
}
.productView_content dl dt {
    height: 90px;
    padding-top: 50px;
}
.productView_content dl dd {
    float: left;
}
.productView_content_dd_01 {
    height: 250px;
    border-bottom: 1px solid #a1a5aa;
    width: 100%;
    margin-bottom: 20px;
}
.productView_content_dd_02 {
    width: 100%;
    position: relative;
}
.productView_content_ul {
    margin-bottom: 120px;
}
.productView_content_ul li {
    margin: 15px 0;
}
#txt1{
	margin-top:30px;
}
.product_view span {
    letter-spacing: -1px;
}
.product_price {
    display: inline-block;
    position: absolute;
    right: 0px;
    text-align: right;
    font-size: 18px;
    color: #2f3234;
}
.product_price strong {
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: bold;
}
.productView_content dl dt .tit_product_view {
    display: block;
    font-size: 30px;
    color: #24809c;
    letter-spacing: -1px;
    line-height: 35px;
    margin-bottom: 10px;
}
#pro_img {
	position: absolute;
    left: 20%;
    top: 15%;
    width: 280px;
    height: 350px;
}
#tit {
    margin-bottom: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: url(/gs25/assets/images/login/icon_signup.png) 0 -274px no-repeat;
}
#Nsearch {
	margin: 50px 0;
	padding: 0 20px;
}
.tbl_wtype1 {
    border-top: 1px solid #666;
    color: #222;
    font-size: 13px;
    width: 920px;
}
#table_head {
	height: 40px;
	padding: 7px 40px;
    background-color: #fafafa;
}
.tbl_wtype1 th {
    width: 160px;
    padding: 17px 0 16px 20px;
    line-height: 16px;
    background: #fbfbfb;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    vertical-align: top;
}
.tbl_wtype1 td {
    padding: 7px 10px;
    height: 30px;
    color: #444;
    border-bottom: 1px solid #dfdfdf;
}
.tag_list_02 li {
    float: left;
    width: 50px;
    height: 18px;
    padding-top: 6px;
    margin-right: 2px;
    color: #fff;
    font-size: 12px;
    font-family: "돋움", Dotum;
    text-align: center;
    letter-spacing: -1px;
}
.ico_tag_07 {
    background: #763AC9;
}
#nbloger {
    background-image: url(/gs25/assets/images/product/Nballon.png);
    background-size: 700px 170px;
    background-repeat: no-repeat;
    background-position: 200px 4px;
}
#NBear {
	float: left;
    margin-left: 50px;
    width: 140px;
}
#blogerName {
	position: absolute;
    margin-top: 130px;
    margin-left: 190px;
}
#ballonIn {
	margin-top: 25px;
    margin-left: 310px;
}
#ballonIn ul{
	text-align: left;
}
#ballonIn ul li{
	padding: 5px 0;
}
#ballonIn ul li strong{
	font-size: 23px;
    text-decoration: underline;
}
#ballonIn ul li span{
	font-size: 18px;
}
#sorryT {
	margin-top: 70px;
    margin-left: 350px;
    font-size: 25px;
    color: gray;
}